@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-clinical-black: #050505;
  --color-medical-blue: #3B82F6;
  --color-warning-red: #EF4444;

  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@keyframes breathing {
  0% {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(1.2);
  }

  100% {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(1);
  }
}

.animate-breathing {
  animation: breathing 6s ease-in-out infinite;
}

@keyframes scanner {
  0% {
    top: 0;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    top: 100%;
    opacity: 0;
  }
}

.animate-scanner {
  animation: scanner 3s ease-in-out infinite;
}

@keyframes scan-glitch {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 2px)
  }

  40% {
    transform: translate(-2px, -2px)
  }

  60% {
    transform: translate(2px, 2px)
  }

  80% {
    transform: translate(2px, -2px)
  }

  100% {
    transform: translate(0)
  }
}

.hover-glitch:hover {
  animation: scan-glitch 0.2s cubic-bezier(.25, .46, .45, .94) both infinite;
  background-color: #f8fafc;
  /* slight off-white inversion */
  color: #8b5cf6;
  /* violet */
}